
main{
    position: relative;
}

.top{
    display: flex;
    height:100px;
    margin-bottom: 12px;
    
}
.top > div{
    background-color: rgb(22, 154, 156);
    flex: 1;
}

.top > div:nth-child(2){
    margin:0px 10px 0px 10px;
   
}

.middle{
    height: 400px;
    background-color: rgb(22, 154, 156);
}

.bottom{
    height: 25px;
    background-color: rgb(207, 248, 164);
    margin-top: 5px;
}

.circle{ 
    border-radius: 50%;
    z-index:2;
    position: absolute;
}

.one{
    width:5vw;
    height:5vw;
    background-color: rgb(242, 244, 131);
    left:17vw;
    top:3vw;
}

.two{
    width:3vw;
    height:3vw;
    background-color: rgb(242, 244, 131);
    left:15vw;
    top:20vw;  
}

.three{
    width:3vw;
    height:3vw;
    background-color: rgb(248, 151, 122);
    left:5vw;
    top:12vw;
}

.four{
    width:3vw;
    height:3vw;
    background-color: rgb(248, 151, 122);
    left:5vw;
    top:1vw;
}

.five{
    width:5vw;
    height:5vw;
    background-color: rgb(248, 151, 122);
    left:26vw;
    top:14vw;
}

.six{
    width:3vw;
    height:3vw;
    background-color: rgb(248, 151, 122);
    left:57vw;
    top:3vw;
}

.triangle{
    width:0;
    height:0;
    z-index: 2;
    position: absolute;
}
.tri-one{
    border-left:160px solid transparent;
    border-right:160px solid transparent;
    border-bottom:350px solid rgb(207, 248, 164);
    left: 60%;
    top:30%;
    z-index:3;

}
.tri-two{
    border-left:200px solid transparent;
    border-right:200px solid transparent;
    border-bottom: 492px solid green;
    left: 45%;
    top:3%;

}
h2{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

}

.formInput{
    margin: 10px;
    display: flex;
    flex-direction: column;
    width:50%;
    align-self: center;
}

.submitButton{
    margin:25px;
    padding:5px;
    background-color: rgb(159, 223, 182);
    width: 75px;
    align-self: center;
}